<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Welcome to Context.IO Glitch!</title>
    <meta name="description" content="A cool email thing made with Glitch">
    
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/b8a1cd7d-7dc7-4874-946f-4f5cfae510cf%2Ffavicon.ico?1490627923265" type="image/x-icon">
    
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <header>
      <img src="https://cdn.glitch.com/b8a1cd7d-7dc7-4874-946f-4f5cfae510cf%2Flogo_large.png?1490629017810" alt="cio logo">
      <h1>Email Magic!</h1>
    </header>
    
    <main>
      
      <form id="signup">
        <h2>New User</h2>
        <p>Context.IO provides an OAUTH signup flow for Google, Yahoo, and Microsoft email accounts.</p>
        <p>Most generic IMAP providers are also supported but for this app just stick to OAUTH.</p>
        <input id="email" name="email" type="email" placeholder="Email">
        <button type="submit">Sign Up User</button>
      </form>
      
      <form id="webhook">
        <h2>New Webhook</h2>
        <p>A webhook is a rule-based notification sent to your app by Context.IO</p>
        <p>There are many different ways to use webhooks, but a simple case is to just filter by the email sender.</p>
        <p>Select one of your users, and then enter an email address you would like to get notifications about.</p>
        <select id="user" name="user"></select>
        <input id="from" name="from" type="email" placeholder="Email">
        <button type="submit">Create Webhook</button>
      </form>
      
      <div id="list">
        <h2>Webhook Counts</h2>
        <p>This app only counts how many webhooks it has recieved for each user.</p>
        <p>There are many more uses for webhooks - go crazy!</p>
        <ul id="webhooks"></ul>
      </div>
      
    </main>
    
    <footer>
      <a href="https://contextio.glitch.me" target="_blank">Remix on Glitch (งツ)ว</a>
    </footer>
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
